<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Li9 Test system environment</title>
  <meta name="description" content="Li9 Test system">
  <meta name="author" content="DOS EVGENII">

</head>

<font color="red"><h1>Welcome to LI9 testing system</h1></font>

You need to be aware of the following rules:
<ul>
    
        <li>Exam time is 1 hour, you will be dropped after that time, your Test Environment will be auto-destroyed</li>
        <li>You will have access to Test Virtual mashine via SSH console</li>
        <li>You're Test Virtual mashine based on Centos 7 </li>
        <li>You can use any materials</li>
        <li>Your Test Environment will be ready in 5-7 mins after start</li>
        <li>Deploy of your Test Environment will be started when you press link bellow!!!</li>

</ul>

<font color="red"><h1>Please press link to start ===> https://tower.demo.li9.com/cgi-bin/{{ rondomname }}</h1></font>