<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Li9 Test system environment</title>
  <meta name="description" content="Li9 Test system">
  <meta name="author" content="DOS EVGENII">
  <meta name="co-author" content="DMITRII MOSTOVSHCHIKOV">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
{% include css_style_file %}
  </style>
</head>
<body class="markdown-body">

