# Li9 Test System Environment

You have been assigned exam **{{ exam_tasks.content.title }}**.

Your environment is ready and you can start the hands-on tests. **Read the below instructions carefully before you begin**.


## Credentials

Here are the details you need to get an access to the test system.

  - hosts is accessible as `ssh student@{{ vmhostip | default("not defined") }}`
  - exam system IP is `{{ vmhostip | default("not defined") }}`
  - username is `{{ student_name | default("not defined") }}`
  - password is `{{ student_pass | default("not defined") }}`
  - there is only **ssh** access to the system
  - you may become root user using `sudo su -` without prompting a password

**If any of the above parameters is not defined, report it as fast as possible to your contact person.**


{% if not datetime_extended_format %}
Your system becomes inaccessible for you in **{{ examtime | default(0) | int / 60 }}** minutes.
{% else %}
### Exam Time Frame

- Exam duration is **{{ examtime | int / 60 }}** minutes.
- Exam started at **{{ exam_time_begin.stdout }}**.
- Exam ends at **{{ exam_time_end.stdout }}**.
{% endif %}


## Exam Rules

You need to be aware of the following rules:

  * All task results will be validated after system reboot.
  * All tasks will be validated using SSH via centos user. Do not make any changes in `/home/centos/.ssh/authorized_key` file.
  * You are not allowed to change any network settings like routes, ip addresses, firewall settings.
  * If not said other, text, strings, lines should be written exactly in the same form as they shown in the tasks.
{#  * You are not allowed to change SELinux state from **Enforcing**. #}

## Scoring process

There is an automated system which evaluates your hands-on exam. The scoring process is run after rebooting of your exam system. After this the system is destroyed. We get only a final report.

**Pay a special attention on system wide changes that you may require to made. For example, if you need to modify file `/etc/fstab` make sure that your changes are correct and will work as expected after reboot. If the system becomes unavailable after a reboot (e.g. due to broken `/etc/fstab` file)  it will not be scored at all.**



## Recommendations

  * Read all tasks entirely before doing them.
  * Be very careful. The automated system cannot check your typos. For example, if you are asked to create a user `demouser` it must be written the same way.
  * First complete the most easier for you tasks.
  * Do not spend much time on doing a single task, you can return and finish it later.
  * Reboot the exam system to make sure that your changes persist and they will not lost after rebooting.
  * Do not modify settings for user `centos` as it may affect the scoring process.
  * Do exactly what you are required to do and nothing more.
  * If you are not sure in the changes which you made, it is a good idea to have another host to test such changes before applying them on the exam system. We provide only the exam host.
  * If you are not sure in the changes which you made, you can omit such changes. In this case, the only completed actions will be scored.


Doing the exam you must demonstrate your skills. We do not expect you complete all tasks 100% and 100% correctly. Show us your knowledge.


{# it contains exam specific information from linux/description.yml, docker/description.yml, etc #}
{{ exam_tasks.content.description }}


## Exercises

{% for topic in exam_tasks.topics %}
{% if exam_tasks.topics[topic].selected_task_content.ready %}
### Task {{ loop.index }}: {{ exam_tasks.topics[topic].selected_task_content.title }}

{{ exam_tasks.topics[topic].selected_task_content.description }}
{% else %}
### Task {{ loop.index }} - No title (no data)

== No task description (no data) ==
{% endif %}
{% endfor %}


## Issues

We do not expect any technical issues during the exam but in case if something happens report this your contact person.

You can report only technical issues. Any questions regarding the tasks are not accepted.

**Good Luck!**

