   
you have to press that link to exam start
Your exam environment link will be auto-destroyed in "{{ timetolivehyperlink }}" seconds.
Your system will be auto-destroyed in "{{ examtime }}" seconds after start (press link).
Please press link to start ===> http://tower.demo.li9.com:8080/cgi-bin/{{ rondomname }}