<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Li9 Test system environment</title>
  <meta name="description" content="Li9 Test system">
  <meta name="author" content="DOS EVGENII">

</head>

<font color="red"><h1>{{ exam_tasks.content.title }} </h1></font>
{{ exam_tasks.content.description }}

<font color="red"><h1>Your credentials to access the Test-Server you can see bellow:</h1></font>

<ul>
    <li>Hosts is accessible via ssh student@{{ vmhostip }}</li>
    <li>Test-Server IP is "{{ vmhostip }}"</li>
    <li>SSH username: "{{ studentname }}"</li>
    <li>SSH password: "{{ studentpwd }}"</li>
    <li>You may become root user using the following "sudo su -" without password</li>
    <li>Your system will be auto-destroyed in "{{ examtime }}" seconds.</li>
</ul>

{% for topic in exam_tasks.topics %}
{% if  exam_tasks.topics[topic].selected_task_content.ready %}
<font color="green"><h1>Task {{ loop.index }} - {{ exam_tasks.topics[topic].selected_task_content.title }}</h1></font>
{{ exam_tasks.topics[topic].selected_task_content.description }}
{% else %}
<font color="green"><h1>Task {{ loop.index }} - No title (no data)</h1></font>
== No task description (no data) ==
{% endif %}
{% endfor %}

Note! Use the following command for checking <b>“ssh sshuser@localhost id” </b>. You can use any password for sshuser.
</html>
