<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Li9 Test System Environment</title>
  <meta name="description" content="Li9 Test system">
  <meta name="author" content="DOS EVGENII">
</head>
<body>
<font color="red"><h1>Welcome to Li9 Testing System</h1></font>

You will need to be aware of the following rules:
<ul>
    <li>Exam time is 1 hour, you will be dropped after the time expires, and your Test Environment will be auto-destroyed.</li>
    <li>You will have access to the Test Virtual Machine via SSH Console.</li>
    <li>Your Test Virtual Machine is based on Centros 7.</li>
    <li>Feel free to use any materials.</li>
    <li>Your Test Environment will be ready 5-7 minutes after you start.</li>
    <li>You will get an email with a list of tasks to complete. Please check your "spam" folder as sometimes it will filter there.</li>
    <li>Deployment of your Test Environment will start when you click the below link.</li>
    <li>The link will be available for ONLY one click.</li>
    <li>Once the link is clicked please wait for further instructions in your email inbox.</li>
</ul>

Thank you for taking the time to test on the Li9 Testing system.

<font color="green"><h3>Click this link to start ===> https://tower.demo.li9.com/cgi-bin/{{ rondomname }}</h3></font>
</body>
</html>

