# {{ exam_tasks.content.title }}

{{ exam_tasks.content.description }}

## Exercises

{% for topic in exam_tasks.topics %}
{% if exam_tasks.topics[topic].selected_task_content.ready %}
### Task {{ loop.index }}: {{ exam_tasks.topics[topic].selected_task_content.title }}

{{ exam_tasks.topics[topic].selected_task_content.description }}
{% else %}
### Task {{ loop.index }} - No title (no data)

== No task description (no data) ==
{% endif %}
{% endfor %}

**Note!** Use the following command for checking `ssh sshuser@localhost id`. You can use any password for ssh user.

