# Li9 Test System Environment

You have been assigned exam **{{ exam_tasks.content.title }}**.

Your environment is ready and you can start the hands-on tests. **Read the below instructions carefully before you begin**.


## Credentials

Here are the details you need to get an access to the test system.

  - hosts is accessible as `ssh student@{{ vmhostip | default("not defined") }}`
  - exam system IP is `{{ vmhostip | default("not defined") }}`
  - username is `{{ student_name | default("not defined") }}`
  - password is `{{ student_pass | default("not defined") }}`
  - you may become root user using `sudo su -` without prompting a password
  - your system becomes unaccessible for you in **{{ exam_length_seconds | default(0) | int / 60 }}** minutes.

**If any of the above parameters is not defined, report it as fast as possible to your contact person.**


## Exam Rules

You need to be aware of the following rules:

  * All task results will be validated after system reboot.
  * All tasks will be validated using SSH via centos user. Do not make any changes in `/home/centos/.ssh/authorized_key` file.
  * You are not allowed to change any network settings like routes, ip addresses, firewall settings.
  * If not said other, text, strings, lines should be written exactly in the same form as they shown in the tasks.
{#  * You are not allowed to change SELinux state from **Enforcing**. #}


## Recommendations

  * Read all tasks and then start doing them.
  * First complete the most easier for you tasks.
  * Do not spend much time on doing a single task, you can return and finish it later.
  * Reboot the server to make sure that your changes persist and will not be lost after rebooting.
  * Partially completed tasks are not scored.
  * Read each task entirely before doing it.
  * Do not modify settings for user `centos`, any improper changes may affect the scoring process.

{# it contains exam specific information from linux/description.yml, docker/description.yml, etc #}
{{ exam_tasks.content.description }}


## Exercises

{% for topic in exam_tasks.topics %}
{% if exam_tasks.topics[topic].selected_task_content.ready %}
### Task {{ loop.index }}: {{ exam_tasks.topics[topic].selected_task_content.title }}

{{ exam_tasks.topics[topic].selected_task_content.description }}
{% else %}
### Task {{ loop.index }} - No title (no data)

== No task description (no data) ==
{% endif %}
{% endfor %}


## Issues

We do not expect any technical issues during the exam but in case if something happens report this to your contact person.

You can report only technical issues. Any questions regarding the tasks are not accepted.

**Good Luck!**

