#!/bin/bash
echo "Content-type: text/plain"
echo
curl -s -k -X POST -u admin:Li9P@ssw0rd -H 'Content-Type: application/json' --data '{ "extra_vars": "{\"useremailnotifications\": \"{{ useremailnotifications }}\", \"adminemailnotifications\": \"{{ adminemailnotifications }}\", \"studentname\": \"{{ studentname }}\", \"studentpwd\": \"{{ studentpwd }}\", \"instancetype\": \"t2.micro\", \"examtime\": \"11\"}" }' 'https://tower.demo.li9.com/api/v2/workflow_job_templates/20/launch/'

mv $0 $0.old